<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="card-background-page">
    
    <ion-grid>
    <ion-card class="perfil" (click)="openPerfil()">
      <img src="../../assets/img/maria/foto-maria.jpg"/>
      <div class="card-title">Maria Fernanda</div>
      <div class="card-subtitle-perfil">perfil</div>
    </ion-card>
      <ion-row class="aniversario-bastidores">
        <ion-col class="col-staff">
          <ion-card>
            <img class="card-img"  src="../../assets/img/home/aniversario.jpg"/>
            <div class="card-title">Aniversario</div>
            <div class="card-subtitle">27 fotos</div>
          </ion-card>
        </ion-col>

        <ion-col class="col-confirmacao">
          <ion-card>
            <img class="card-img"  src="../../assets/img/home/botao-bastidores.jpg"/>
            <div class="card-title">Bastidores</div>
            <div class="card-subtitle">17 fotos</div>
          </ion-card>
        </ion-col>
      </ion-row>
      <div class="card-amiguinho">
        <ion-card >
              <img class="card-img" src="../../assets/img/home/muro3.jpg"/>
              <div class="card-title">Mural</div>
              <div class="card-subtitle">15 mensagens</div>
            </ion-card>
        </div>
      <!--<div class="card-amiguinho">
        <ion-card >
              <img class="card-img" src="../../assets/img/home/amigos-animais.jpg"/>
              <div class="card-title">Amigos</div>
              <div class="card-subtitle">20 fotos</div>
            </ion-card>
        </div>-->
      <ion-row class="staff-confirmacao">
        <ion-col class="col-staff">
          <ion-card>
            <img class="card-img"  src="../../assets/img/home/check-2.png"/>
            <div class="card-title">Confirmar</div>
            <div class="card-subtitle"></div>
          </ion-card>
        </ion-col>

        <ion-col class="col-confirmacao">
          <ion-card>
            <img class="card-img"  src="../../assets/img/home/cloud.jpg"/>
            <div class="card-title">Obrigado</div>
            <div class="card-subtitle"></div>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
