<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../assets/img/maria/foto-maria.jpg"/>
      </ion-col>
      <ion-col>
         <div id="nome">Maria Fernanda</div>
         <div id="idade">4 anos</div>
      </ion-col>
    </ion-row>

    <ul>
      <hr style="height:2px; border:none; color:#000; background-color:#989aa2; margin-top: 0px; margin-bottom: 0px; margin-left: -10%;"/>
    </ul>

    <h3>Como esta Maria?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    
    <ul>
      <hr style="height:2px; border:none; color:#000; background-color:#989aa2; margin-top: 0px; margin-bottom: 0px; margin-left: -10%;"/>
    </ul>
    <h3>Familia</h3>
    <ion-row>
      <ion-col><img id="card-img" src="../../assets/img/maria/foto-maria.jpg"/></ion-col>
      <ion-col><img id="card-img" src="../../assets/img/maria/foto-maria.jpg"/></ion-col>
      <ion-col><img id="card-img" src="../../assets/img/maria/foto-maria.jpg"/></ion-col>
      <ion-col><img id="card-img" src="../../assets/img/maria/foto-maria.jpg"/></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><img id="card-img" src="../../assets/img/maria/foto-maria.jpg"/></ion-col>
      <ion-col><img id="card-img" src="../../assets/img/maria/foto-maria.jpg"/></ion-col>
      <ion-col><img id="card-img" src="../../assets/img/maria/foto-maria.jpg"/></ion-col>
      <ion-col><img id="card-img" src="../../assets/img/maria/foto-maria.jpg"/></ion-col>
    </ion-row>

    <ul>
      <hr id="linha"/>
    </ul>

    <h3>Amigos</h3>
    <ion-row>
      <ion-col><img id="fotos-perfil" src="../../assets/img/maria/foto-maria.jpg"/></ion-col>
      <ion-col><img id="fotos-perfil" src="../../assets/img/maria/foto-maria.jpg"/></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><img id="fotos-perfil" src="../../assets/img/maria/foto-maria.jpg"/></ion-col>
      <ion-col><img id="fotos-perfil" src="../../assets/img/maria/foto-maria.jpg"/></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><img id="fotos-perfil" src="../../assets/img/maria/foto-maria.jpg"/></ion-col>
      <ion-col><img id="fotos-perfil" src="../../assets/img/maria/foto-maria.jpg"/></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
