#card-img {
    height: 100px;
  }

#img-perfil {
    height: 100px;
  }

#nome {
    padding-top: 12px;
    font-size: 12;
    width: 100%;
    font-weight: bold;
    color: black;
  }

#linha {
  height:2px; 
  border:none; 
  color:#989; 
  background-color:#989aa2; 
  margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: -10%;
}
#fotos-perfil {
  height: 200px
}